<body id="page-top" class="index">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
<!--
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
-->
      <a class="navbar-brand" href="#page-top">Confirmation Page</a>
    </div>
    <div class="nav navbar-nav navbar-right" style="margin-top:9px">
        <%= form_tag(sessions_logout_path, method: :post) do %>
            <input class='btn btn-success' type='submit' value='Log Out' />
        <% end %>
    </div>
  </div>
</nav>

  <section>
    <div class="container">
      <div class="row">
        <br><br><br><br>
        <div class="text-success text-center col-lg-offset-2 col-lg-8">
          <h1 style="font-family: Helvetica, Arial, Sans-Serif; font-size: 30px" >
            Please enter the confirmation code sent to your <%= (@current_user.email) %> to activate your neat account. 
            
          </h1>
        </div>
      <br><br>
      <div class="form-group text-center">
      <%= form_tag(sessions_confirm_email_path, method: :post) do %>
        <input class='form-control' type='text' name='confirm_token' placeholder='Confirmation Code'/>
          <br><br>
          <input class='btn btn-success' type='submit' value='Confirm' />
      <% end %>
      </div>
          
      
    </div>
    </div>
  </section>
</body>



